/* Set default styles for the whole page */
* {
    box-sizing: border-box;
  }
  /* This helps to keep the color palette consistent and makes it easy to change the colors globally by just modifying the variable's value. */
  :root{
    --color1: #cfbb61;   
    --color2: rgb(31 36 36);
    --color3: #fff;
    --color4: #333;
  }
  
  body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
      color: var(--color2);
    }
  
    /* Style the header */
      header {
      background-color: var(--color1);
      color: var(--color4);
      display: flex;
      flex-direction: column;
      justify-content:space-evenly;
      flex-wrap: wrap;
  
      align-items: center;
      padding: 10px 10px 10px 10px;
      }
      /* inside the header */
        header h1 {
        margin: 0;
        padding: 5px 5px 5px 5px;
        }

    .container{
        background-color: var(--color3);
        color: var(--color2);
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 10px 10px 10px;
    }

    #container1.container {
        background-color: violet;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #container2.container{
        background-color: indianred;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #container3.container{
        font-style: italic;
        color: aqua;
        padding-top: 15px;
        background-color: seagreen;
        align-items: flex-start;
    }

    h4{
        display: flex;
        font-style:italic;
        color: var(--color4);
        align-items: center;
    }